@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';


.DSCheckbox {
   
    display: flex;
    align-items: center;
    align-content: center;
    gap: 0.5rem;

    position: relative;
    cursor: pointer;

    input[type="checkbox"] {
        opacity: 0;
    }

    input[type="checkbox"] + .DSCheckbox-label::after{
        content: none;
    }

    input[type="checkbox"]:checked + .DSCheckbox-label::after{
        content: '';
    }

    .DSCheckbox-label{
        position: relative;
         &:before {
            content: "";
            display: inline-block;
            vertical-align: middle;
            width: 20px;
            height: 20px;
            border: 2px solid #c5c5c5;
            margin-right: 8px;
        }

        &:after {
             left: 0.25rem;
            top: 0.438rem;
            position: absolute;
            content: "";
            display: inline-block;
            height: 0.25rem;
            width: 0.5rem;
            border-left: 2px solid;
            border-bottom: 2px solid;
            
            transform: rotate(-45deg);
        }

    }


    // input[type='checkbox']:checked ::before{
    //       background: #5ac5c9;

    // }

    // input[type='checkbox']::before {
    //     opacity: 1;
    //     content: '';
    //     vertical-align: 50%;
    
    //     position: relative;
    //     display: inline-block;
    //     width: 1.25rem;
    //     height: 1.25rem;
    //     background: white;
    // }
   
}